# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python & Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log

# Virtual environments
env/
venv/
ENV/
*.env
*.venv
*.egg-info/

# VSCode
.vscode/
.idea/

# Archives
*.zip
*.tar.gz
